*.log
.config/FreeTube
.config/GIMP
.config/LICENSE
.config/castero/castero.conf
.config/cava/config
.config/dconf
.config/doom/config.el
.config/dunst/README.md
.config/dunst/dunstrc
.config/dunst/emblems
.config/environment.d
.config/fastfetch/config.jsonc
.config/fish/conf.d/__secrets.fish
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/transient.fish
.config/fish/fish_variables
.config/fish/functions/__fish_mode_prompt.fish
.config/fish/functions/__fish_prompt.fish
.config/fish/functions/__fish_right_prompt.fish
.config/fish/functions/__fzf_cd.fish
.config/fish/functions/__fzf_complete.fish
.config/fish/functions/__fzf_complete_preview.fish
.config/fish/functions/__fzf_find_file.fish
.config/fish/functions/__fzf_get_dir.fish
.config/fish/functions/__fzf_open.fish
.config/fish/functions/__fzf_parse_commandline.fish
.config/fish/functions/__fzf_reverse_isearch.fish
.config/fish/functions/__fzfcmd.fish
.config/fish/plugins/fzf.fish/
.config/fish/plugins/transient.fish
.config/fontconfig/conf.d
.config/foot/foot.ini
.config/fuzzel/README.md
.config/fuzzel/fuzzel.ini
.config/gh
.config/ghostty/config
.config/ghostty/shaders/bloom.glsl
.config/go/
.config/gtk-3.0
.config/gtk-4.0
.config/lazygit
.config/mimeapps.list
.config/msmtp
.config/mutt
.config/newsboat/highlight
.config/nvim/spell/
.config/obsidian
.config/pulse
.config/qutebrowser/theme.py
.config/ranger/README.md
.config/ranger/plugins
.config/rclone
.config/rebos
.config/rofi/README.md
.config/rofi/config.rasi
.config/starship/starship.toml
.config/systemd/user
.config/udiskie
.config/user-dirs.conf
.config/user-dirs.dirs
.config/wall
.config/waybar
.config/yazi/catpuccin.tmTheme
.config/yazi/plugins
.config/yazi/theme.toml
__init__.py
__pycache__
autosave
bookmarks
cache
cache.db*
command-history
elegant-vagrant*
elegantvagrant*
lazy-lock.json
lib.pl
playlists
pt.utf-8.spl
search-history
.config/Meltytech
.config/tenacity
.config/QtProject.conf
.config/secrets
.local/bin/zscripts
