.config/FreeTube
.config/GIMP/3.0
.config/btop/btop.log
.config/dconf
.config/doom/config.el
.config/environment.d
.config/fish/conf.d/__secrets.fish
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/transient.fish
.config/fish/fish_variables
.config/fish/functions/__fish_mode_prompt.fish
.config/fish/functions/__fish_prompt.fish
.config/fish/functions/__fish_right_prompt.fish
.config/fish/functions/__fzf_cd.fish
.config/fish/functions/__fzf_complete.fish
.config/fish/functions/__fzf_complete_preview.fish
.config/fish/functions/__fzf_find_file.fish
.config/fish/functions/__fzf_get_dir.fish
.config/fish/functions/__fzf_open.fish
.config/fish/functions/__fzf_parse_commandline.fish
.config/fish/functions/__fzf_reverse_isearch.fish
.config/fish/functions/__fzfcmd.fish
.config/fish/plugins/fzf.fish/
.config/fish/plugins/transient.fish
.config/fontconfig/conf.d
.config/gh
.config/go/
.config/gtk-3.0
.config/gtk-4.0
.config/lazygit
.config/mimeapps.list
.config/msmtp
.config/mutt
.config/nvim/lazy-lock.json
.config/nvim/spell/
.config/obsidian
.config/pulse
.config/ranger/plugins/devicons2
.config/rclone
.config/rebos
.config/systemd/user
.config/udiskie
.config/user-dirs.conf
.config/user-dirs.dirs
.config/wall
.config/yazi/catpuccin.tmTheme
.config/yazi/plugins
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/urls
__init__.py
__pycache__
autosave
bookmarks
cache
command-history
imgs/
lib.pl
playlists
pt.utf-8.spl
search-history
